/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
@font-face {
	font-family: 'Proxima';
	src: url('../fonts/proxima/ProximaNovaCond-Semibold.eot');
	src: url('../fonts/proxima/ProximaNovaCond-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/proxima/ProximaNovaCond-Semibold.woff') format('woff'),
		url('../fonts/proxima/ProximaNovaCond-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
/* COMMON */
body,html {
  margin: 0;
	width: 100%;
	overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: auto;
}
.btn {
  background: rgba(204,48,48,.9);
  transition: .7s;
  color: #fff;
  font-family: "Proxima";
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  cursor: pointer;
  border: none;
	text-decoration: none;
}
.btn:hover {
  background: rgba(204,48,48,1);
}
section {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  margin-bottom: 25px;
}
.section-caption {
  height: 80px;
  background: #6867A1 url(../img/bg/caption-bg.png) no-repeat center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding-top: 24px;
  margin-bottom: 40px;
  z-index: 3;
  position: relative;
}
.section-caption h2 {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: "Proxima";
  font-size: 28px;
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0 0 10px;
	width: 100%;
	vertical-align: top;
  overflow: hidden;
	background: #fff;
	border: 2px solid #67629F;
  height: 60px;
}
.input__field {
	position: relative;
	display: block;
	float: right;
	border: none;
	border-radius: 0;
	color: #404040;
  font-size: 20px;
	-webkit-appearance: none;
  padding: 0.85em 0.85em 0.85em 2.85em;
	width: 100%;
	background: transparent;
	-webkit-transform: translate3d(1em, 0, 0);
	transform: translate3d(1em, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.input__field--name {
  float: none;
  height: 60px;
  border: 2px solid #67629F;
  border-radius: 0;
  color: #404040;
  padding: 0.85em;
  font-size: 20px;
  border-left: none;
}
.input__field:focus, .input__field--name:focus {
	outline: none;
  -webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.input__field:focus + .input__label::before {
	-webkit-transform: scale3d(0.6, 1, 1);
	transform: scale3d(0.75, 1, 1);
}
.input__label {
  display: inline-block;
  text-align: center;
  color: #6a7989;
  font-weight: bold;
  font-size: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  user-select: none;
  position: absolute;
  padding: 13px 0 0 10px;
  width: 49px;
  height: 100%;
}
.input__label::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 62px;
	height: 100%;
	background: #67629F;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.input__label-content {
	display: block;
	padding: 1.6em 0;
	width: 100%;
  position: absolute;
	top: 100%;
}
.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}
.icon {
	color: #ddd;
	font-size: 150%;
  color: #fff;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}
.input__field:focus + .input__label .icon {
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}

/* HEADER */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 98;
}
.header__top {
  background: rgba(91,97,156,.9);
  position: relative;
  z-index: 2;
  height: 100px;
  padding: 26px 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
.header__top > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__logo img {
  height: 45px;
  width: auto;
  display: block;
}
#location-check, #location-check2 {
  display: none;
}
.header__location {
  display: block;
  color: #fff;
  font-family: "Proxima";
  font-size: 14px;
  line-height: 17px;
  width: 244px;
  position: relative;
  margin-top: 3px;
  margin-left: 300px;
  user-select: none;
}
.header__location::before {
  content: '';
  position: absolute;
  left: -60px;
  top: -5px;
  width: 44px;
  height: 44px;
  background: url(../img/icons/header-location.svg) no-repeat;
  background-size: contain;
  transition: .5s;
}
.header__location:hover::before {
  transform: scale(1.1);
}
.location-popup {
  position: absolute;
  width: 320px;
  height: 310px;
  top: 74px;
  background: rgba(59,190,182,.95);
  left: 610px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}
.location-popup a, .location-popup p {
  color: #fff;
  font-family: "Proxima";
  text-align: center;
  display: block;
  margin: 15px 0;
  font-size: 16px;
  text-transform: uppercase;
}
.location-popup p {
  margin: 0;
  padding: 0 15px;
  text-align: left;
}
.location-popup img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
#location-check:checked ~ .location-popup {
  opacity: 1;
  pointer-events: auto;
}
.location-popup::before {
  content: '';
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 26px 25px 26px;
  border-color: transparent transparent rgba(59,190,182,.95) transparent;
}
.header__phone {
  color: #fff;
  font-family: "Proxima";
  font-size: 24px;
}
.header__phone span {
  font-size: 18px;
}
.header__bottom {
  position: relative;
  z-index: 1;
  height: 60px;
  background: rgba(33,23,56,.8);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
.header__bottom.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header__bottom .main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}
.main-nav__link {
  font-family: "Proxima";
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: .7s;
}
.main-nav__link:hover, .main-nav__link.active {
  color: #3ABBB4;
}

/* MAIN SECTION */

.main {
  height: 680px;
  background: url(../img/bg/main-bg.png) no-repeat center, linear-gradient(45deg, #2F7199 0%,#5F92B1 40%,#9ABACD 100%);
}
.main .container {
  display: flex;
  padding-top: 225px;
}
.main__left {
  width: 320px;
}
.exhibition {
  margin: 0;
  text-transform: uppercase;
  font-family: "Proxima";
  color: #fff;
  font-size: 73px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  text-align: left;
}
.exhibition span {
  display: block;
}
.exhibition .first-line {
  line-height: 30px;
  margin-left: -2px;
}
.exhibition .second-line {
  font-size: 41px;
  line-height: 90px;
  letter-spacing: .1px;
}
.exhibition .third-line {
  font-size: 96px;
  line-height: 50px;
  margin-left: -3px;
  letter-spacing: .5px;
}
.main__left img {
  width: 315px;
  margin-left: 1px;
  display: block;
  margin-top: 30px;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.40));
}
.main__left .btn {
  display: block;
  margin-top: 25px;
  width: 315px;
  margin-left: 1px;
}
.main__right {
  width: 880px;
  padding-left: 60px;
}
.slider {
  width: 100%;
  margin-top: -13px;
}
.slider__slide {
  width: 100%;
  height: 390px;
  background: url(../img/slider/slide1.png);
	background-size: cover;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
.slider__slide .slider__content {
	background: rgba(103,98,159,.7);
}
.slide2 .slider__content, .slide5 .slider__content {
	background: rgba(58,181,181,.7);
}
.slide3 .slider__content, .slide7 .slider__content {
	background: rgba(49,76,140,.7);
}
.slide4 .slider__content {
	background: rgba(49,96,137,.7);
}
.slide2 {
	background: url(../img/slider/slide2.png);
	background-size: cover;
}
.slide3, .slide6, .slide7 {
	background: url(../img/slider/slide3.png);
	background-size: cover;
}
.slide4 {
	background: url(../img/slider/slide4.png);
	background-size: cover;
}
.slider__caption {
  color: rgba(103,98,159,.9);
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  font-family: "Proxima";
  height: 60px;
  padding-top: 15px;
  background: rgba(255,255,255,.9);
}
.slide2 .slider__caption h2, .slide5 .slider__caption h2 {
	color: rgba(58,181,181,.9) !important;
}
.slide3 .slider__caption h2, .slide7 .slider__caption h2 {
	color: rgba(49,76,140,.9) !important;
}
.slide4 .slider__caption h2 {
	color: rgba(49,96,137,.9) !important;
}
.slide6 .slider__caption h2 {
	color: rgba(103,98,159,.9) !important;
}
.million-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.slide4 h2, .slide5 h2 {
	font-size: 34px !important;
}
.slide5 h2 span {
	font-size: 55px !important;
}
.million-btn h3 {
	text-align: left !important;
	width: 470px;
	font-size: 27px !important;
}
.million-btn .btn {
	width: 230px;
	background: rgba(255,255,255,.8);
	color: rgba(58,181,181,.9);
}
.main .owl-theme .owl-nav [class*=owl-] {
  font-size: 0;
  width: 50px;
  height: 60px;
  background: url(../img/icons/slider-prev.svg) no-repeat center;
  border-radius: 0;
  position: absolute;
  top: 170px;
  left: -10px;
  transition: .5s;
}
.main .owl-theme .owl-nav .owl-next {
  background: url(../img/icons/slider-next.svg) no-repeat center;
  left: auto;
  right: -10px;
}
.slider__content {
	padding: 30px 50px;
	height: 100%;
}
.furniture-cats {
	display: flex;
	flex-wrap: wrap;
}
.furniture-cats__item {
	width: 25%;
	text-align: center;
}
.furniture-cats__img {
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.furniture-cats__item img {
	width: 40% !important;
	height: auto;
	display: inline-block !important;
	filter: drop-shadow(0 2px 4px rgba(0,0,0,0.40));
}
.furniture-cats__item h2 {
	font-family: "Proxima";
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	filter: drop-shadow(0 2px 4px rgba(0,0,0,0.40));
}
.million h2 {
	font-family: "Proxima";
	font-size: 40px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 20px;
}
.million h2 span {
	font-size: 72px;
}
.million .slider__caption {
	height: auto;
	padding: 15px;
}
.million .slider__caption h2 {
	color: #82AAC2;
	margin: 0;
}
.million h3 {
	font-family: "Proxima";
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 25px;
	text-align: center;
}

/* ABOUT SECTION */

.about {
  background: url(../img/bg/about-bg.jpg);
  background-size: cover;
}
.about > .container {
  display: flex;
}
.about__left {
  width: 620px;
}
.about__left video {
  width: 100%;
  height: 350px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  padding: 0;
}
.about__right {
  width: 580px;
  padding-left: 60px;
}
.about-slider {
  width: 100%;
}
.about-slider__slide {
  width: 100%;
  height: 100%;
  height: 440px;
}
.about-slider__slide h3 {
  color: #67629F;
  font-family: "Proxima";
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
  font-size: 36px;
}
.about-slider__slide h4 {
  color: #2579A1;
  font-family: "Proxima";
  margin: 0;
  font-size: 26px;
}
.about-slider__slide p, .about-slider__slide li {
  font-family: "Proxima";
  font-size: 18px;
  color: #404040;
  margin-bottom: 4px;
}
.about-slider__slide span {
	display: block;
  padding-left: 20px;
  font-size: 16px;
	margin: 3px 0;
	font-family: "Roboto";
}
.about-slider__slide ul {
  list-style: none;
  padding-left: 0;
}
.about-slider__slide li::before {
  content: '✓ ';
  color: #2579A1;
}
.about .owl-theme .owl-nav.disabled+.owl-dots {
  margin-top:  0;
  margin-left: -380px;
}
.subscription {
  margin-top: 40px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  background: rgba(255,255,255,.5);
}
.subscription .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.subscription h2 {
  color: #67629F;
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Proxima";
}
.subscription .input {
  width: 380px;
  margin: 0;
  display: inline-block;
}
.subscription .btn {
  width: 256px;
  font-size: 20px;
  display: inline-block;
  padding: 18px 0;
  margin-left: 15px;
}


/* SPECIAL SECTION */

.special {
  background: url(../img/bg/special-bg.jpg);
  background-size: cover;
  padding-bottom: 40px;
}
.special-carousel {
  width: 1070px;
  margin: auto;
  margin-top: 50px;
}
.special-carousel--grid {
  width: 100%;
}
.special .item, .member-info .item {
  width: 300px;
  margin: 50px auto;
  background: rgba(255,255,255,.70);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  transition: .5s;
}
.special-carousel--grid .item {
  width: 290px;
}
.special-carousel .center .item {
  transform: scale(1.2);
}
.special .owl-theme .owl-nav [class*=owl-] {
  font-size: 0;
  width: 50px;
  height: 60px;
  background: #3ABDB5 url(../img/icons/slider-prev.svg) no-repeat center;
  border-radius: 0;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  top: 170px;
  left: -70px;
  transition: .5s;
}
.special .owl-theme .owl-nav [class*=owl-]:hover {
  background: #67629F url(../img/icons/slider-prev.svg) no-repeat center;
}
.special .owl-theme .owl-nav .owl-next {
  background: #3ABDB5 url(../img/icons/slider-next.svg) no-repeat center;
  left: auto;
  right: -70px;
}
.special .owl-theme .owl-nav .owl-next:hover {
  background: #67629F url(../img/icons/slider-next.svg) no-repeat center;
}
.special .item__img, .member-info .item__img {
  padding: 5px 50px;
  background: #fff;
	height: 200px;
	display: flex;
	align-items: center;
}
.special .item__caption, .member-info .item__caption {
  background: #FF5555;
  color: #fff;
  font-family: "Proxima";
  text-transform: uppercase;
  font-size: 24px;
  padding: 20px;
  text-align: center;
}
.special .item__info, .member-info .item__info {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
  line-height: 19px;
  color: #404040;
  height: 140px;
}
.special .item__btn, .member-info .item__btn {
  background: rgba(58,181,181,.9);
  color: #fff;
  font-family: "Proxima";
  font-size: 20px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: .7s;
  cursor: pointer;
}
.special .item__btn:hover, .member-info .item__btn:hover{
  background: rgba(58,181,181,1);
}
.special .btn {
  width: 360px;
  display: block;
  font-size: 20px;
  margin: auto;
  margin-top: 50px;
}
.special-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(57,49,75,.5);
  z-index: 99;
  top: 0;
  left: 0;
  display: none;
}
.special-popup .inner {
  position: absolute;
  height: 570px;
  width: 1100px;
  background: rgba(255,255,255,.8);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	overflow-y: auto;
	max-height: 100%;
}
.popup-close {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 0;
  background: #55C3BC;
  cursor: pointer;
}
.popup-close::before, .popup-close::after {
  content: '';
  width: 40px;
  height: 4px;
  background: #fff;
  left: 10px;
  top: 28px;
  transform: rotate(45deg);
  position: absolute;
}
.popup-close::after {
  transform: rotate(-45deg);
}
.special-popup .item {
  width: 640px;
  height: 440px;
  margin: 0;
}
.special-popup .item__member {
  text-align: center;
  color: #67629F;
  padding: 20px 0;
  text-transform: uppercase;
  font-family: "Proxima";
  font-size: 24px;
}
.special-popup__top {
  display: flex;
  align-items: center;
}
.special-popup__bottom {
  padding: 0 20px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.special-popup .input, .special-popup .input-name {
  width: 39%;
  margin: 0;
}
.special-popup .btn {
  width: 200px;
  font-size: 20px;
  display: inline-block;
  padding: 18px 0;
  margin-left: 15px;
  margin: 0;
  background: #55C3BC;
}
.special-popup__gallery {
  width: 380px;
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}
.special-popup__img {
  margin-right: 1%;
  margin-bottom: 10px;
  width: 24%;
  font-size: 0;
  order: 2;
}
.special-popup__img.active {
  order: 1;
  width: 100%;
}
.special-popup__img img {
  width: 100%;
  height: auto;
}


/* REG SECTION */

.reg {
  height: 760px;
  background: url(../img/bg/reg-bg.jpg);
  background-size: cover;
}
.reg-panel {
  height: 550px;
  margin-top: 60px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  background: rgba(255,255,255,.7);
}
.reg__top {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #67629F;
}
.reg__bottom {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.reg__right {
  width: 500px;
}
.reg__top h2 {
  font-size: 36px;
  color: #67629F;
  font-family: "Proxima";
  text-transform: uppercase;
  margin: 0 0 20px;
}
.reg-check {
  display: none;
}
.reg-check + label {
  font-family: "Proxima";
  text-transform: uppercase;
  color: #404040;
  font-size: 24px;
  display: block;
  margin-bottom: 15px;
  padding-left: 40px;
  position: relative;
  user-select: none;
}
.reg-check + label::before {
  content: '';
  position: absolute;
  width: 31px;
  height: 28px;
  left: 0;
  top: -1px;
  background: url(../img/icons/green-check.svg) no-repeat left;
}
.reg-check:checked + label::before {
  background: url(../img/icons/green-check-checked.svg) no-repeat left;
}
.social-login {
  display: flex;
  align-items: center;
}
.social-login h3 {
  font-size: 20px;
  color: #67629F;
  font-family: "Proxima";
  text-transform: uppercase;
  margin-right: 20px;
}
.social-login img {
  margin-right: 6px;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.40));
  opacity: .8;
  transition: .5s;
}
.social-login img:hover {
  opacity: 1;
}
.reg .btn {
  display: block;
  width: 100%;
}

/* MEMBERS SECTION */

.members {
  background: linear-gradient(45deg, #2F7199 0%,#5F92B1 40%,#9ABACD 100%);
  padding-bottom: 40px;
}
.members__caption {
  text-align: center;
  width: 900px;
  margin: auto;
  overflow-x: hidden;
}
.members__caption h3 {
  display: inline-block;
  color: #fff;
  font-family: "Proxima";
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  position: relative;
}
.members__caption h3::before, .members__caption h3::after {
  content: '';
  height: 4px;
  width: 400px;
  left: -420px;
  top: 15px;
  background: #fff;
  position: absolute;
}
.members__caption h3::after {
  left: auto;
  right: -420px;
}
.org {
  width: 900px;
  display: flex;
  margin: 30px auto 20px;
}
.org > div {
  width: 50%;
}
.org img {
  display: block;
  width: 70%;
  margin: 15px auto;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.40));
}
.org h4 {
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  margin: 20px 0;
  text-align: center;
}
.partners-carousel {
  margin: 40px auto;
  width: 100%;
  overflow-x: hidden;
	display: flex;
	justify-content: space-between;
}
.partners-carousel .item {
  width: calc(8.9vw);
  background: #fff;
  padding: 5px 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
	height: 6vw;
	display: flex;
	align-items: center;
}
.partners-carousel--members {
	display: block;
}
.partners-carousel--members .item {
  width: 16.66vw;
	height: 12vw;
	float: left;
  margin: 2px;
}
.infoparnters-special {
	width: 700px;
	display: flex;
	margin: 30px auto;
	justify-content: space-between;
}
.infoparnters-special__item {
	width: 20%;
}
.infoparnters-special__img {
	width: 100%;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
	padding: 10px 20px;
}
.infoparnters-special__item img {
	width: 100%;
}
.infoparnters-special__item h3 {
	color: #fff;
	font-family: "Roboto";
	font-weight: 400;
	text-transform: uppercase;
	margin: 0;
	margin-top: 15px;
	font-size: 16px;
	text-align: center;
}

@media (min-width: 1600px) {
  .partners-carousel--members .item {
    width: 12.5vw;
  }
}

.partners-carousel .item img {
  width: 100%;
  height: auto;
}

/* SCHEDULE SECTION */

.schedule {
  padding-bottom: 40px;
  background: url(../img/bg/schedule-bg.jpg);
  background-size: cover;
}
.themes-filters {
  display: flex;
  justify-content: space-between;
}
.themes-filters__item, .date-filters__item {
  width: 390px;
  background: #E4E4E4;
  color: #404040;
  font-size: 20px;
  font-family: "Proxima";
  text-transform: uppercase;
  text-align: center;
  padding: 19px 0 17px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  transition: .7s;
}
.themes-filters__item:hover, .date-filters__item:hover {
  background: #DCD9D9;
}
.themes-filters__item.active, .date-filters__item.active {
  color: #fff;
  background: #3ABDB5;
}
.schedule-wrapper {
  display: flex;
  margin-top: 20px;
}
.date-filters {
  width: 60px;
}
.date-filters__item {
  width: 60px;
  margin-bottom: 5px;
}
.events {
  width: 1180px;
  padding-left: 20px;
}
.events__item {
  width: 100%;
  height: 130px;
  background: rgba(255,255,255,.6);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  margin-bottom: 10px;
  display: none;
}
.events__item.active {
  display: flex;
}
.events__info {
  width: 210px;
  height: 100%;
  background: #63609D;
  padding: 20px;
}
.events__desc {
  width: 970px;
  height: 100%;
  padding: 20px 30px;
}
.events__icon {
  font-size: 22px;
  color: #fff;
  font-family: "Proxima";
  padding-left: 40px;
  margin-bottom: 15px;
  position: relative;
}
.events__icon::before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: -3px;
  background: url(../img/icons/clock.svg) no-repeat center;
}
.events__icon--location {
  font-size: 18px;
  margin: 0;
}
.events__icon--location::before {
  width: 37px;
  height: 37px;
  top: 2px;
  left: -4px;
  background: url(../img/icons/location.svg) no-repeat center;
}
.events__desc h3 {
  font-size: 22px;
  color: #63609D;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Proxima";
}
.events__desc p {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  margin: 0;
  color: #404040;
}
.speakers {
  width: 1070px;
  margin: auto;
}
.speakers h2 {
  text-transform: uppercase;
  font-family: "Proxima";
  color: #63609D;
  font-size: 32px;
  margin: 50px 0 30px;
}
.speaker {
  width: 100%;
  padding: 0 20px;
  margin: 10px 0 0 5px;
}
.speaker__inner {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
}
.speaker__top {
  display: flex;
  align-items: center;
}
.speaker__img {
  width: 35%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  transform: scale(1.2);
}
.speaker__img img {
  width: 100%;
  height: auto;
  display: block;
}
.speaker__name {
  padding: 20px;
  padding-left: 30px;
  text-transform: uppercase;
  font-family: "Proxima";
  color: #63609D;
  font-size: 28px;
}
.speaker__date {
  background: #63609D;
  color: #fff;
  font-family: "Proxima";
  font-size: 24px;
  padding: 10px;
  text-align: center;
  margin-top: 8px;
}
.schedule .owl-theme .owl-nav [class*=owl-] {
  font-size: 0;
  width: 50px;
  height: 60px;
  background: #3ABDB5 url(../img/icons/slider-prev.svg) no-repeat center;
  border-radius: 0;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  top: 50px;
  left: -70px;
  transition: .5s;
}
.schedule .owl-theme .owl-nav [class*=owl-]:hover {
  background: #67629F url(../img/icons/slider-prev.svg) no-repeat center;
}
.schedule .owl-theme .owl-nav .owl-next {
  background: #3ABDB5 url(../img/icons/slider-next.svg) no-repeat center;
  left: auto;
  right: -70px;
}
.schedule .owl-theme .owl-nav .owl-next:hover {
  background: #67629F url(../img/icons/slider-next.svg) no-repeat center;
}

/* NEWS SECTION */

.news {
  padding-bottom: 30px;
  background: url(../img/bg/news-bg.jpg);
  background-size: cover;
}
.news-carousel {
  margin: 30px 0;
  width: 100%;
}
.news-carousel__item {
  width: 100%;
  padding: 0 5px;
  margin: 5px 0;
}
.news-carousel__item .inner {
  width: 100%;
	height: 470px;
  background: rgba(255,255,255,.7);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  padding-bottom: 40px;
}
.news-carousel__img img {
  width: 100%;
  height: auto;
}
.news-carousel__item h3 {
  font-size: 24px;
  color: #63609D;
  font-family: "Proxima";
  font-size: 24px;
  padding: 0 20px;
  margin: 25px 0 15px;
  text-transform: uppercase;
}
.news-carousel__item p {
  padding: 0 20px;
  font-family: "Roboto";
  font-size: 16px;
  color: #404040;
  margin: 0;
}
.owl-theme .owl-dots .owl-dot span {
  width: 35px;
  height: 10px;
  border-radius: 0;
  background: #67629F;
  opacity: .5;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #67629F;
  opacity: 1;
}
.news .owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 30px;
}

/* MAP SECTION */

.map {
  height: 720px;
  background: url(../img/bg/main-bg.png) no-repeat bottom center, linear-gradient(45deg, #2F7199 0%,#5F92B1 40%,#9ABACD 100%);
  position: relative;
  overflow-y: hidden;
}
#map {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50% + 200px);
  height: calc(100% - 40px);
  top: 80px;
  z-index: 2;
}
.map .main__left {
  margin-top: 65px;
}
.contacts {
  margin-top: 60px;
}
.contact {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  width: 340px;
  padding-left: 50px;
  margin-top: 20px;
  position: relative;
}
.contact--phone, .contact--mail {
  font-size: 26px;
}
.contact::before {
  content: '';
  position: absolute;
  left: 0;
  width: 35px;
  height: 35px;
  background: url(../img/icons/location.svg) no-repeat;
  background-size: contain;
}
.contact--phone::before {
  background: url(../img/icons/phone.svg) no-repeat;
  background-size: contain;
  top: -2px;
}
.contact--mail::before {
  background: url(../img/icons/email.svg) no-repeat;
  background-size: contain;
  top: -2px;
}

/* TICKET SECTION */

.ticket {
  height: 140px;
  background: #fff;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.30);
}
.ticket .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ticket h2 {
  color: #67629F;
  font-size: 36px;
  width: 700px;
  font-family: "Proxima";
  text-transform: uppercase;
}
.ticket .btn {
  width: 300px;
  display: block;
}

/* FOOTER */

footer span {
  color: #fff;
  font-family: "Roboto";
  vertical-align: middle;
}
footer .age {
  font-size: 30px;
  font-family: "Proxima";
  padding-right: 30px;
  vertical-align: middle;
}
footer .section-caption {
  margin: 0;
}

/* MEMBER PAGE */

.member-top {
  height: 835px;
  background: url(../img/bg/main-bg.png), linear-gradient(45deg, #2F7199 0%,#5F92B1 40%,#9ABACD 100%);
  background-size: cover;
}
.member-top .container {
    display: flex;
    padding-top: 190px;
}
.member-logo {
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.30);
  padding: 20px;
  background: #fff;
	height: 225px;
	display: flex;
	align-items: center;
}
.member-logo img {
  width: 100%;
  height: auto;
  margin: 0;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0));
}
.member-top .exhibition {
  margin-top: 40px;
}
.catalog-img img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.40));
}
.member-info {
  margin-top: -25px;
  background-size: cover !important;
  position: relative;
}
.member-info__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.7);
}
.member-info .container {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.member-info__panel {
  width: 850px;
  height: 430px;
  background: rgba(255,255,255,.7);
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.30);
}
.member-info__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}
.member-name {
  width: 100%;
  color: #6F6AA4;
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 32px;
  font-family: "Proxima";
}
.member-info__info {
  width: 250px;
}
.member-info__text {
  width: 500px;
  font-family: "Roboto";
  font-weight: 400;
  color: #404040;
  font-size: 16px;
}
.member-info__location, .member-info__cat, .member-info__phone, .member-info__website {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Proxima";
  color: #2579A1;
  padding-left: 22px;
  position: relative;
}
.member-info__cat, .member-info__phone, .member-info__website {
  padding: 0;
}
.member-info__location::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 16px;
  height: 20px;
  background: url(../img/icons/location.png) no-repeat center;
}
.member-info h2 {
  color: #6F6AA4;
  margin: 20px 0 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Proxima";
}
.member-info__bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.member-info__bottom h2 {
  margin-top: 0;
}
.member-info .container > .item {
  margin: 0;
  height: auto;
}
.member-info .container > .item img {
  width: 100%;
  height: auto;
}

/* MEMBERS PAGE */

.members-top {
  background: url(../img/bg/main-bg.png), linear-gradient(45deg, #2F7199 0%,#5F92B1 40%,#9ABACD 100%);
  background-size: cover;
  padding-bottom: 40px;
  position: relative;
  z-index: 2
}
.members-top .container {
    display: flex;
    padding-top: 220px;
}
.members-top .org img {
  width: 85%;
}
.members-top + .members {
  padding-top: 40px;
  margin-top: -25px;
  z-index: 1;
}
.filters-panel {
  background: #116C97;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.50);
  margin: 40px 0 20px;
}
.special .filters-panel {
  margin-top: -40px;
}
.filters-panel .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: relative;
}
.letter-filter input {
  display: none;
}
.letter-filter input + label {
  color: #fff;
  font-family: "Proxima";
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
  margin-right: 2px;
}
.letter-filter input:checked + label {
  color: #3ABDB5;
}
.search {
  position: relative;
}
.search input[type="text"] {
  display: block;
  width: 500px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;
  font-family: "Roboto";
}
.search input::-webkit-input-placeholder {color:#fff;}
.search input::-moz-placeholder          {color:#fff;}
.search input:-moz-placeholder           {color:#fff;}
.search input:-ms-input-placeholder      {color:#fff;}
.search input[type="submit"] {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: none;
  background: url(../img/icons/search.svg);
  background-size: cover;
}
#cat-filter-check, #cat-filter-check-2 {
  display: none;
}
#cat-filter-check + label, #cat-filter-check-2 + label {
  display: block;
  width: 50px;
  height: 50px;
  background: #3ABDB5 url(../img/icons/filter.png) no-repeat center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
.filter-dropdown {
  width: 650px;
  padding: 20px;
  background: rgba(57,49,75,.85);
  position: absolute;
  top: 110px;
  right: 0;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}
#cat-filter-check:checked ~ .filter-dropdown, #cat-filter-check-2:checked ~ .filter-dropdown {
  opacity: 1;
  pointer-events: auto;
}
.filter-dropdown::before {
    content: '';
    position: absolute;
    top: -25px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 26px 25px 26px;
    border-color: transparent transparent rgba(57,49,75,.85) transparent;
}
.filter-dropdown h2 {
  color: #fff;
  font-family: "Proxima";
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 15px;
  text-align: center;
}
.filter-dropdown input {
  display: none;
}
.filter-dropdown label {
  display: inline-block;
  width: 32%;
  color: #fff;
  font-family: "Proxima";
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
  user-select: none;
}
.filter-dropdown label::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 19px;
  background: url(../img/icons/white-check.svg) no-repeat left;
  left: 0;
  top: 2px;
}
.filter-dropdown input:checked + label::before {
  background: url(../img/icons/white-check-checked.svg) no-repeat left;
}
.members-grid {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
}
.members-grid__item {
  width: 16%;
  margin: 5px 0.33%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  padding: 10px 15px;
	display: flex;
	align-items: center;
	min-height: 150px;
}
.members-grid__item img {
  width: 100%;
  height: auto;
}
.special-page {
	margin-bottom: 45px;
}
.special-page .container {
	padding-top: 120px;
}
.schedule-page {
	padding-top: 30px;
	margin-top: -40px;
}
.reg-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.reg-top__left {
	width: 320px;
}
.reg-top__left img {
	width: 100%;
	height: auto;
}
.reg-top__left .btn {
	display: block;
	margin: 0;
	margin-top: 15px;
}
.reg-top__right {
	width: 450px;
	height: 290px;
	background: rgba(57,49,75,.85);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	padding: 10px 30px 20px;
}
.reg-page .container {
	padding-top: 190px;
}
.reg-page .exhibition {
	margin-top: 60px;
}
.reg-top__right h2 {
	color: #fff;
  font-family: "Proxima";
  text-transform: uppercase;
  font-size: 18px;
	text-align: center;
}
.reg-top__right .btn {
	width: 100%;
	font-size: 20px;
	padding: 18px 0;
	background: rgba(58,181,181,.9);
}
.reg-top__right .btn:hover {
	background: rgba(58,181,181,1);
}
.map-page {
	margin-top: -123px;
}
.map-page .exhibition {
	margin-top: 135px;
}
.dashboard .container {
	align-items: center;
}
.dashboard__right {
	width: 850px;
	background: rgba(255,255,255,.65);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	height: 390px;
	margin-top: -15px;
	margin-left: 40px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user-info {
	width: 440px;
}
.user-info .btn {
	width: 70%;
	font-size: 20px;
	display: block;
	padding: 18px 0;
	margin: 0;
	margin-top: 15px;
	background: #55C3BC;
}
.user-checks h2 {
	color: #67629F;
	text-transform: uppercase;
	font-family: "Proxima";
	font-size: 24px;
}
.user-checks {
	width: 330px;
}
.user-checks .reg-check + label {
	font-size: 21px;
}
.dashboard-anchor {
	color: #67629F;
	text-transform: uppercase;
	font-family: "Proxima";
	font-size: 20px;
	margin-top: 10px;
	text-decoration: underline;
}
.dashboard-anchor:first-of-type {
	margin-top: 30px;
}
.user-checks .icon {
	color: #67629F;
	padding-right: 10px;
	margin-top: 1px;
}
.schedule-check {
	display: none;
}
.schedule-check + label {
	user-select: none;
	position: relative;
}
.schedule-check:checked + label {
	border: 3px solid #3ABDB5;
}
.schedule-check:checked + label .events__info {
	background: #3ABDB5;
}
.schedule-check:checked + label .events__desc h3 {
	color: #3ABDB5;
}
.schedule-check + label .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(99,96,157,.9);
	opacity: 0;
	pointer-events: none;
	transition: .5s;
}
.schedule-check:checked + label .overlay {
	background: rgba(58,189,181,.9);
}
.schedule-check + label:hover .overlay {
	opacity: 1;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.event-btn {
	color: #fff;
	text-transform: uppercase;
	font-family: "Proxima";
	font-size: 24px;
	padding: 15px 30px;
	border: 2px solid #fff;
}
.event-btn--uncheck {
	display: none;
}
.schedule-check:checked + label .overlay .event-btn--uncheck {
	display: block;
}
.schedule-check:checked + label .overlay .event-btn--check {
	display: none;
}
.dashboard .section-caption {
	margin-bottom: 0;
}
.dashboard .filters-panel {
	margin-top: 0;
}
.members-grid input {
	display: none;
}
.members-grid input:checked + label {
	border: 6px solid #3ABDB5;
}
.dashboard .search, .dashboard .search input[type="text"] {
	width: 230px;
}
.toggler {
	display: flex;
	width: 310px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
}
.toggler input {
	display: none;
}
.toggler input + label {
	display: block;
	width: 50%;
	color: #6797B4;
	text-transform: uppercase;
	font-family: "Proxima";
	font-size: 18px;
	padding: 15px 0 14px;
	text-align: center;
	background: rgba(255,255,255,.75);
}
.toggler input:checked + label {
	background: #3ABDB5;
	color: #fff;
}
.grand {
	background: url(../img/bg/grand-bg.jpg);
	padding-bottom: 30px;
	background-size: cover;
}
.grand__panel {
	padding: 25px;
	background: rgba(255,255,255,.65);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	margin-bottom: 10px;
}
.grand__panel h2 {
	margin: 0;
	margin-bottom: 10px;
	color: #67629F;
	font-size: 28px;
	text-transform: uppercase;
	font-family: "Proxima";
}
.grand__panel h3 {
	font-family: "Proxima";
	font-size: 20px;
	margin: 0;
	color: #5C9AB7;
}
.grand__panel p {
	font-size: 18px;
	font-family: "Roboto";
	font-weight: 400;
	margin: 0;
	color: #404040;
	margin-bottom: 8px;
}
.about-top {
	background: rgba(255,255,255,.8);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	padding: 20px 30px;
	margin-top: -25px;
}
.about-top p {
	font-size: 20px;
	font-family: "Roboto";
	color: #63609D;
}
.about-page {
	margin-top: -25px;
}
.about-page__blocks {
	margin: -10px 0 10px;
}
.about-page__block {
	background: rgba(255,255,255,.8);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	margin: 10px 0;
	display: flex;
	align-items: center;
}
.about-page__img {
	width: 350px;
}
.about-page__img img {
	width: 100%;
	height: auto;
	display: block;
}
.about-page__text {
	width: 850px;
	padding: 20px;
	font-size: 18px;
	font-family: "Roboto";
	color: #404040;
}
.about-page__text span {
	color: #63609D;
	font-weight: 500;
}
.news-popup, .million-popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(57,49,75,.5);
  z-index: 99;
  top: 0;
  left: 0;
  display: none;
}
.news-popup .inner, .million-popup .inner {
  position: absolute;
  height: 570px;
  width: 1100px;
  background: rgba(255,255,255,.9);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	overflow-y: auto;
	max-height: 100%;
	padding: 20px;
}
.news-popup h2 {
	color: #63609D;
  font-family: "Proxima";
  font-size: 24px;
  margin: 25px 0 15px;
  text-transform: uppercase;
}
.news-popup p {
	font-size: 16px;
	font-family: "Roboto";
	color: #404040;
}
.about__million {
	background: url(../img/slider/slide2.png);
	background-size: cover;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	margin: -20px 0 0;
	width: 100%;
}
.about__million__wrapper {
	background: rgba(58,181,181,.85);
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.about__million__text {
	color: #fff;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 400;
	width: 60%;
	padding: 40px 40px 40px 25px;
}
.about__million__text h2 {
	margin: 0;
	margin-bottom: 10px;
	font-family: "Roboto";
	font-size: 22px;
}
.about__million__text a {
	font-size: 22px;
	font-weight: 500;
	color: #fff;
}
.about__million__img {
	width: 40%;
	background: url(../img/about-million.jpg);
	background-size: cover;
}
.about__million__img img {
	width: 100%;
	height: auto;
}
.about-page > .container {
	display: block;
	padding-top: 0;
	padding-bottom: 30px;
}
.million-popup .inner {
	height: auto;
	padding-bottom: 60px;
}
.million-popup h2, .million-popup a {
	color: #63609D;
  font-family: "Proxima";
  font-size: 24px;
  margin: 25px 0 15px;
  text-transform: uppercase;
}
.million-popup a {
	font-size: 20px;
	text-transform: none;
}
.million-popup ol li, .million-popup p {
  font-size: 18px;
  font-family: "Roboto";
  color: #404040;
}
.check-all, .uncheck-all{
	display: inline-block;
	margin-right: 15px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 10px;
	font-family: "Proxima";
}
.show-all {
	display: none;
	padding: 15px;
	color: #fff;
	text-transform: uppercase;
	font-family: "Proxima";
	background: #3ABDB5;
	margin-bottom: -15px;
	cursor: pointer;
}
.show-all.active {
	display: inline-block;
}
